@model Doors2Heaven.Models.Doors

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Types_of_Door)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Types_of_Door)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style_of_Door)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style_of_Door)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratings)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
